<!DOCTYPE html>
<html lang="{{ htmllang() }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {%- if record|default and record.title -%}
                {{- record.title ~ ' | ' -}}
            {%- endif -%}
            {{- config.get('general/sitename') -}}
            {%- if record|default == null and config.has('general/payoff') -%}
                {{- ' | ' ~ config.get('general/payoff') -}}
            {%- endif -%}
        </title>
         <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
        <link rel="stylesheet" href="{{ asset('css/_main.css') }}">
    </head>
    <body>
        <div id="page" class="w3-container">
        {% block body %}

            {{ include('partials/_header.twig') }}

            {% block main %}
            {% endblock main %}

            {{ include('partials/_aside.twig') }}

        {% endblock body %}

        {{ include('partials/_footer.twig') }}
        </div> <!-- end page -->
    </body>
</html>
